.NavBar {
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.NavBar h3 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.Logo {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.Categories {
  display: flex;
  align-items: center;
}

.Categories a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Categories a:hover {
  color: #ff8800;
}

.NavBar button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 0;
  padding: 0;
}

.NavBar button:focus {
  outline: none;
}

.NavBar button:hover {
  color: #ff8800;
}